/*
 Theme:        Velo Allee
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       Sofasurfer
 Author URI:   http://sofasurfer.org
 Template:     wp-bootstrap-starter
 Version:      1.2
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  veloalle
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/*
font-family: 'IM Fell French Canon', serif;
font-family: 'Bellefair', serif;
font-family: 'Scheherazade', serif;
font-family: 'Rufina', serif;
*/


html {
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 25px;
    scroll-behavior: smooth;    
}

body{
    color: #0051D3;
    overflow-x: hidden;
    font-size: 25px;
    min-height: 100%;
    margin-bottom: 80px!important;
    font-family: 'Roboto Condensed', sans-serif;

/*    background: url(images/LigneHaut.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */   
}

.bg-1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.bg-2{
    position: absolute;
    bottom: 900px;
    left: 0;
    width: 60vw;
}

h1{
    font-size: 2.4rem;
    margin:0;
    padding:0;
    color: #0051D3;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

h1.entry-title:after{
    position: absolute;
    content: "";
    bottom: 20px;
    width: 30px;
    height: 5px;
    background-color: #0051D3;
    left: 50%;
    margin-left: -15px;
}

h2{
    color: #f06595;
    font-size: 3rem;
    margin-top: 4rem;     
}

h2.v-t{
    position:relative;
    font-size: 2.4rem;
    color: #0051D3;
    padding-top: 200px;
    height: 550px;
    margin: 0px;

}
h2.v-t:after{
    position: absolute;
    font-size: 20rem;
    color: #FF6C40;
    top:-50px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    z-index: -1;

}

h2.v-t.v-t-1:after{
    content: "1";
}
h2.v-t.v-t-2:after{
    content: "2";
}
h2.v-t.v-t-3:after{
    content: "3";
}
h2.v-t.v-t-4:after{
    content: "4";
}
h2.v-t.v-t-5:after{
    content: "5";
}
h2.v-t.v-t-6:after{
    content: "6";
}
h2.v-t.v-t-7:after{
    content: "7";
}
h2.v-t.v-t-8:after{
    content: "8";
}

h3{
    /*margin-top: 4rem;    */
    font-size: 2.4rem;
}
h3,p{
    margin-bottom: 2rem;
}
a{
    color: #0051D3;
    text-decoration: underline;
}
a:hover{
    color: #FF6C40;
}

.entry-header{
    margin-top: 0px;
}

.fa, .fab{
    font-size: 8rem;
    margin-left: 3rem;
}

footer{
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
}
footer a{
    color:#0051D3;
}

.c-counter{
    font-size: 2rem;
}
.v-center{
    text-align: center;
    position: relative;
    z-index: 50;
}

.v-left{
    float: left;
}

.v-right{
    float: right;
}

 .alignfull{
/*    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;*/

    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 100vw;
}

.wp-block-image.absolute{
    position:relative;
}

.wp-block-image.absolute figcaption{
    position: absolute;
    top: 20%;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    font-size: 80px;
    color: #f06595;
}

.comments-title{
    margin-bottom: 2rem;
}

.comment-form .alert.alert-info{
    display: none;
}


.wp-block-image figcaption{
    text-align: right;
}


table{
    color: #0051D3;
    width: 100%;
    border:solid 1px #0051D3;  
}
table td{
    color: #0051D3;
    padding: 5px 10px;
    line-height: 1.5rem;
    background-color: none;
    border-bottom:solid 1px #0051D3;
}

.table-wrapper-scroll-y{
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
    scrollbar-color: #0051D3 white;
}

/*
    Form
*/
.wpcf7-form{
    padding: 50px;
    background-color: #0051D3;
    margin-bottom: 3rem;
}



.wpcf7-checkbox{
    border: 0px;
    padding: 0;
    margin: 0px;
    color: white!important;
    font-size: 1.5rem;
    background-color: transparent;
}
.form-check{
    padding-left: 0px;
}

.wpcf7-form label{
    font-size: 1rem;
    color: #fff!important;
}

span.wpcf7-list-item{
    margin: 0px;
}

input[type="checkbox"]{
    width: 2rem;
    height: 1.5rem;
    margin-left: 30px;
    display: inline-block;
}
.btn.btn-primary,
.wpcf7-form .btn-primary{
    border: 0px;
    font-size: 1.5rem;
    color: #0051D3;
    background-color: #FFD833;
    border-radius: 0;
    margin-top: 30px;
    margin-right: 70px;
    display: inline-block;

}

span.wpcf7-not-valid-tip{
    color: #FF6C40;
}

.wpcf7-validation-errors{
    border: 2px solid #FF6C40!important;
}
.wpcf7-response-output{
    color: #FF6C40;
    text-align: center;
}

div.wpcf7 .ajax-loader{
    position:absolute;
    left: 0px;
    bottom: 0px;
    /*background-image: url('images/spinner.gif');*/
    background-image: none;
    width: 0px;
    height: 0px;
}

.form-group{
    text-align: center;
}

.wpcf7-form-control-wrap{
    display:  inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.wpcf7-form-control-wrap.your-age{
    width: 450px;
}

input.form-control{
    font-size: 1rem;
    border-radius: 40px;
    text-align: center;
    padding: 35px 20px;
    color: #0051D3;
}

li{
    list-style: none;
    margin-bottom: 25px;
}

li:before{
    content: "→";
    margin-right: 10px;
}



/*
    List
*/
.dl-horizontal dt{
    white-space: nowrap;
}

.c-lang{
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
}

.c-lang ul{
    list-style: none;
    margin:0;
    padding: 6px 0px;
    background-color: #E3E3E3;
    border-radius: 50px;
}

.c-lang ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin:0;
    padding:0;
    z-index: 1;
    position: relative;
}

.c-lang ul li:first-child{
    margin-right: -20px;
}

.c-lang ul li a{
    font-size: 1.2rem;
    color: #0051D3;
    padding: 10px 50px;
    border-radius: 50px;
    text-decoration: none;
    background: #E3E3E3 0% 0% no-repeat padding-box;
}
.c-lang ul li a:hover{
    color: #FF6C40;
}
.c-lang ul li.c-active{
    z-index: 50;
}
.c-lang ul li.c-active a{
    color: white;
    background: #0051D3 0% 0% no-repeat padding-box;
}
.c-lang ul li:before{
    content: "";
    margin: 0;
}

.a2a_floating_style{
    top: auto!important;
    bottom: 60px;
}

.addtoany_content,
.addtoany_share_save_container{
    margin-top: 50px!important;
}

.addtoany_header{
    color: #f06595;
    font-size: 2.5rem;
    margin-top: 4rem;
}


.v-counter{

}

.v-counter .month{
    color: #FF6C40;
    font-size: 16rem;
    letter-spacing: -1.2rem;
    display: block;
    margin-left: 1.52rem;
    margin-top: -6.7rem;
}

.v-counter .count{
    color: white;
    position:absolute;
    text-align: center;
    left: 1.2rem;
    top: 1.2rem;
    padding: 0.5rem 1rem;
    width: 246px;
    line-height: 1;
    background-color: #0051D3;
}
.v-counter .count span{
    display: block;
    font-size: 2rem;
}

.v-velo{
    float:right;
    /*width: 400px;*/
    height: 120px;
    margin-top: 145px;
    margin-right: 180px;
}
.v-velo img{
    height: 100%;
}

blockquote.wp-block-quote{
    color: white;
    text-align: center;
    border-left: none;
    font-size: 2.4rem;
    background-color: #0051D3;
    padding: 200px;

    margin-top: 200px;

    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;

}
blockquote.wp-block-quote p{
    margin-bottom: 2rem;
    line-height: 1;
}

blockquote.wp-block-quote a{
    color: white;
}
blockquote.wp-block-quote a:hover{
    color: #FF6C40;
}

.entry-footer{
    display: none;
}

.v-2020{
    position: relative;
}
.v-2020 a{
    position:relative;
    display: block;
}
.v-2020 a:after{
    position: absolute;
    content: "Beitreten / S’inscrire";
    top: 50px;
    left: -150px;
    padding: 20px 30px;
    font-size: 1.6rem;
    color: #0051D3;
    background-color: #FFD833;
    cursor: pointer;
}

/*.v-2020 a:before{
    position: absolute;
    content: "2020";
    font-size: 18rem;
    top: -265px;
    right: -160px;    
    color: #FF6C40;
}*/

.v-sharing{
    display: flex;
    justify-content: center;
}

.v-sharing a{
    margin: 15px;
    font-size: 2.4rem;
    color: #0051D3;
    background-color: #FF6C40;
    padding: 0 15px;
    text-decoration: none;
}/*
.v-sharing a:hover{
    color: #FF6C40;
}*/

a.v-share-fb{
    background-color: #6997FF;
}
a.v-share-tw{
    background-color: #69E2FF;
}
a.v-share-wa{
    background-color: #00C152;
}


@media only screen and (min-width : 1600px) {

    .v-wide,
    .wp-block-columns,
    div.wpcf7,
    #wpcf7-f9-p2-o1{
        margin: 0px -200px;
    }
    .bg-2{
        bottom: 500px;
    }
    figure.v-2020.size-large{
        margin: 0px -80px;
    }

    .wpcf7-form-control-wrap.your-age{
        width: 560px;
    }

    .v-counter .month{
        font-size: 20rem;
        margin-top: -8.5rem;
    }
    
    .v-counter .count{
        width: 311px;
        padding: 1rem 1rem;
        top: ;
    }
    .v-counter .count span{
        font-size: 2.4rem;
    }

    .v-velo{
        float:right;
        /*width: 400px;*/
        height: 141px;
        margin-top: 190px;
        margin-right: 300px;
    }

    .entry-header{
        margin-top: 0px;
    }
    .v-2020 a:before{
        font-size: 20rem;  
        top: -295px;
        right: -185px;
    }

}
@media only screen and (max-width : 1400px) {
    
    figure.size-large{
        margin: 0px 50px;
    }

    .v-2020 a:before{
        font-size: 16rem;
        top: -236px;
        right: -90px;        
    }
    .v-2020 a:after{
          left: -100px;
    }    
}

@media only screen and (max-width : 1200px) {

    .bg-2{
        bottom: 1200px;
    }

    .wp-block-columns{
        display: block;
    }
    .wpcf7-form-control-wrap.your-age {
        width: 360px;
    }


    .v-counter .month{
        font-size: 14rem;    
        margin-top: -5.9rem;
    }
    
    .v-counter .count{
        width: 214px;
        font-size: 0.84rem;
    }
    .v-counter .count span{
        font-size: 1.9rem;
    }


    .v-velo{
        height: 100px;
        margin-top: 135px;
        margin-right: 80px;
    }
    .entry-header {
        margin-top: 0px;
    }


    figure.size-large{
        margin: 0px 0px;
    }

    .v-2020 a:before{
        font-size: 10rem;
        top: -147px;
        right: -90px;       
    }
    .v-2020 a:after{
          left: -100px;
    } 

    .wpcf7-form-control-wrap.your-age{
        width: auto;
    }


}

@media only screen and (max-width : 960px) {

    html,body{
        overflow-x: hidden;
    }

    header .col-md-6{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        
        flex: 0 0 100%;
        max-width: 100%;

        text-align: center;

    }

    h2.v-t::after{
        top: 0px;
        font-size: 16rem;
    }
    .bg-1{
        top: 500px;
    }
    .bg-2{
        bottom: 900px;
    }
    .v-ptop{
        margin-top: 300px;
    }
    .site-content{
        margin-top: 150px;
    }

    .v-left{
        text-align: left!important;
    }
/*    .c-lang{
        right: auto;        
    }
    .c-lang ul{
        display: inline-block;        
    }*/

    .entry-header {
        margin-top: 0px;
    }

    .v-counter .month{
        font-size: 12rem;    
        margin-top: -5.9rem;
        margin-left: 2.77rem;
    }

    .v-2020 a::before {
        font-size: 9rem;
        top: -133px;
        right: -80px;

    }
    .v-2020 a::after {
        padding: 15px 25px;
        font-size: 1.4rem;
        left: -80px;
    }
    .v-velo {
        height: 200px;
        margin-top: -75px;
        margin-right: 0px;
        width:100%;
    }

    .wpcf7{
         width: 100vw;
         position: relative;
         margin-left: -50vw;
         left: 50%;
    }

    .wpcf7 .float-right{
        float: none!important;
    }
    .btn.btn-primary, .wpcf7-form .btn-primary{
        margin-right: 50px;
    }


    blockquote.wp-block-quote{
        padding: 100px 50px;
    }

    .v-sharing{
        display: block;
        text-align: center;
    }
    .v-sharing a{
        display: block;
    }


}

@media only screen and (max-width : 500px) {

    h1.entry-title{
        font-size: 1.4rem;
    }
    h2.v-t{
        height: 400px;
        padding-top: 125px;
    }
    h2.v-t::after {
        top: -50px;
        font-size: 16rem;
    }
    h2.v-t.v-t-1{
        margin-top: 100px;
    }
    h3{
        font-size: 1.4rem;        
    }
    .v-velo{
        margin-top: -40px;   
        height: 100px;    
    }
    .v-counter .month {
        font-size: 8rem;
        margin-top: -3.3rem;
        margin-left: 1.52rem;
        letter-spacing: -0.3rem;
    }
    
    .v-counter span {
        left: 0.54rem;
        top: 0.7rem;
        padding: 0.2rem 0.6rem;
    }

    .v-counter .count{
        width: auto;
        font-size: 0.60rem;
        padding: 0.3rem 0.3rem;
        left: 0.89rem;
        top: 0.4rem;        
    }

    .v-counter .count span {
        font-size: 1.4rem;
    }    

    .site-content {
        margin-top: 50px;
    }    
    figure.size-large{
        margin: 0px -50px;
    }
    .wp-block-image figcaption{
        text-align: center;
    }
    .wp-block-image {
        margin: 0 -25px;
    }
    .wp-block-image img{
        width: 100%;
    }
    .v-2020 a:before{
        font-size: 6rem;
        top: -89px;
        right: 0px;     
    }
    .v-2020 a:after{
        font-size: 1.2rem;
        left: 50%;
        top: auto;
        bottom: -40px;
        width: 320px;
        margin-left: -160px;
    } 

    .v-table{
        font-size: 0.8rem;
    }
    .v-sharing a{
        font-size: 1.4rem;
    }

    .bg-2{
        bottom: 900px;
    }
    .bg-1{
        top: 400px;
    }
    .v-ptop{
        margin-top: 200px;
    }
    .c-lang{
        top: 0.3rem;
    }
    .c-lang ul li a {
        font-size: 0.8rem;
        color: #0051D3;
        padding: 10px 25px;
    }
    .c-lang ul{
        padding: 4px 0px;
    }

    blockquote.wp-block-quote{
        font-size: 1.4rem;
    }

    .wpcf7-form-control-wrap {
        display: inline-block;
        margin-left: -25px;
        margin-right: -25px;
    }

}




